/* poppins-300 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./poppins-v15-latin-300.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./poppins-v15-latin-300.woff")
            format("woff");
}

/* poppins-regular - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./poppins-v15-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./poppins-v15-latin-regular.woff")
            format("woff");
}

/* poppins-500 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./poppins-v15-latin-500.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./poppins-v15-latin-500.woff")
            format("woff");
}
/* poppins-600 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./poppins-v15-latin-600.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./poppins-v15-latin-600.woff")
            format("woff");
}
/* poppins-700 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./poppins-v15-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./poppins-v15-latin-700.woff")
            format("woff");
}
/* poppins-800 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./poppins-v15-latin-800.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./poppins-v15-latin-800.woff")
            format("woff");
}

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./roboto-v27-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./roboto-v27-latin-regular.woff")
            format("woff");
}

/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./roboto-v27-latin-500.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./roboto-v27-latin-500.woff")
            format("woff");
}
/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(""),
        /* IE6-IE8 */ url("./roboto-v27-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./roboto-v27-latin-700.woff")
            format("woff");
}
